@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import "tailwindcss";

:root {
  font-family: "Itim", cursive;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes horizontal-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.animate-horizontal-spin {
  animation: horizontal-spin 8s linear infinite;
}

.animate-rotate {
  animation: rotate-left 60s linear infinite;
}

.animate-scroll {
  animation: scroll-left 40s linear infinite;
}

.animate-type {
  margin-inline: auto;
  white-space: nowrap;
  padding-right: 3px;
  border-right: 5px solid;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(20) forwards, blink 1s step-end infinite;
}

html {
  scroll-behavior: smooth;
}
