@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import "tailwindcss";

:root {
  font-family: "Itim", cursive;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes horizontal-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.animate-horizontal-spin {
  animation: horizontal-spin 8s linear infinite;
}

.animate-rotate {
  animation: rotate-left 60s linear infinite;
}

.animate-scroll {
  animation: scroll-left 40s linear infinite;
}

html { 
  scroll-behavior: smooth;
}